body{
    font-family: Arial, sans-serif;
    background-color: #ddd9d5;
    padding: 20px;
}

.room{
    background: #ddd9d5;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.room h2{
    margin-top: 0;
}

.device-card{
    display: inline-block;
    width: 160px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    background-color: #daa671;
    color: #ddd9d5;
}